<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.first_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p style="color: purple; font-weight: 350;"><%= message.content %></p>
</div>
