.container-landing-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: $white;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 0px 12px $white;
    h1 {
      font-size: 62px;
      color: $purple;
    }
    p {
      color: $nickel;
      font-size: 24px;
    }
}
