.container-banner {
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
}

#container-banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
    h1 {
      font-size: 48px;
    }
}

.form-landing {
    #email {
      border-radius: 2px;
      padding: 6.75px 13.5px;
      line-height: 1.5;
    }
}
