#container-landing-bottom {
  margin-top: 150px;
  h1 {
    font-size: 62px;
    }
  p {
    font-size: 24px;
  }
  span {
    color: $purple;
  }
}

@media only screen and (max-width: 900px) {
  #container-landing-bottom {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 20px;
    }
  }
}
