.container-banner {
  margin: 0 auto;
  width: 90%;
  min-width: 90%;
}

#container-banner-left {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    h1 {
      font-size: 56px;
    }
}

@media only screen and (max-width: 900px) {
  .container-banner {
    flex-direction: column;
  }
}

