<!-- Chat modal -->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color:darkblue">Message Thread</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 style="color:darkblue">#<%= @chatroom.name %></h1>
        <div class="chatroom">
          <div>
            <div class="message-container" id="message-<%= @message.id %>">
            <i class="author">
            <span><%= @user.first_name %></span>
            <small><%= @user.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p style="color: purple; font-weight: 350;">Test</p>
            </div>
          </div>
        </div>
      </div>
        <%#= simple_form_for [ @chatroom ] do |f| %>
        <%#= f.input :name, placeholder: 'Name for chatroom' %>
        <%#= f.submit "Send message", class: "btn btn-primary my-2" %>
        <%# end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
