<% @events.take(2).each do |event| %>
  <div class="card-notification-md mt-2 d-flex justify-content-between p-3" style="color:white; border-radius: 12px;">
    <img src="https://source.unsplash.com/random/300x300", style="border-radius:12px;" class="mr-3">
    <div class="d-flex flex-wrap">
      <%= event.name %>
      <p>Attendees: <%= event.attendees %></p>
    </div>
  </div>
<% end %>
