
<!-- Donation Modal -->

<div class="modal fade" id="donateModal-<%= charity.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-body-wishlist">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pledge to Donate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-event">
        <div class="container container-donation d-flex justify-content-center">

          <%= link_to  charity_donates_path(charity, amount: 5), class:"tip-button mr-2", method: :post, remote: true do %>
            <span class="tip-button__text" id="btn-10" style="top: 25%; left: 25%;">Donate $5</span>
              <div class="coin-wrapper">
                <div class="coin">
                  <div class="coin__middle"></div>
                  <div class="coin__back"></div>
                  <div class="coin__front"></div>
                </div>
              </div>

          <% end %>

          <%= link_to  charity_donates_path(charity, amount: 10), class:"tip-button mr-2", method: :post, remote: true do %>
            <span class="tip-button__text" id="btn-10" style="top: 25%; left: 20%;">Donate $10</span>
              <div class="coin-wrapper">
                <div class="coin">
                  <div class="coin__middle"></div>
                  <div class="coin__back"></div>
                  <div class="coin__front"></div>
                </div>
              </div>

          <% end %>

          <%= link_to  charity_donates_path(charity, amount: 25), class:"tip-button mr-2", method: :post, remote: true do %>
            <span class="tip-button__text" id="btn-10" style="top: 25%; left: 25%;">Donate $25</span>
              <div class="coin-wrapper">
                <div class="coin">
                  <div class="coin__middle"></div>
                  <div class="coin__back"></div>
                  <div class="coin__front"></div>
                </div>
              </div>
          <% end %>

        </div>
      </div>

      <div class="container pt-5 pl-5 pr-5">
        <h6 style="color:grey">Donating is voluntary and always your choice. Lumina will display your donation pledge to your friends to help celebrate your efforts.
        <br><br>
        If you have not donated to the charity of your choosing within two days, Lumina will send you a reminder to do so.
        </h6>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
