<div class="container-charities">
  <div class="container container-infinite">
    <h1>Charity List Infinite Scroll</h1>
  <!--    The First Div      -->
    <div class="card-charity">
      <img src="https://source.unsplash.com/random/600x400">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque eos, atque sed saepe
         tempore, sequi qui excepturi voluptate ut perspiciatis culpa sit harum, corrupti ullam
         voluptatibus obcaecati sint dignissimos quas.</p>
    </div>
  <!--    The Second Div      -->
    <div class="card-charity">
      <img src="https://source.unsplash.com/random/600x400">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque eos, atque sed saepe
         tempore, sequi qui excepturi voluptate ut perspiciatis culpa sit harum, corrupti ullam
         voluptatibus obcaecati sint dignissimos quas.</p>
    </div>
  <!--    The Third Div      -->
    <div class="card-charity">
      <img src="https://source.unsplash.com/random/600x400">
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque eos, atque sed saepe
         tempore, sequi qui excepturi voluptate ut perspiciatis culpa sit harum, corrupti ullam
         voluptatibus obcaecati sint dignissimos quas.</p>
    </div>
  </div>
  <!--  The Loading Animation.    -->
  <div class="loading">
    <div class="ball first"></div>
    <div class="ball second"></div>
    <div class="ball third"></div>
    <a href="#top">Top</a>
  </div>
</div>
