// Define variables for your color scheme

// For example:
$red: #ED1D58;
$blue: #167FFB;
$purple: #8B64CE;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$nickel: #6F7171;
$light-gray: #B9B9BC;
$white: #FFFFFF;

h1, h2 {
  color: $white
}

p {
  color: $light-gray;
}
