<%= render 'components/landing_page/landing-navbar' %>
<div class="container-banner d-flex">


  <div id="container-banner-left">
    <h1>
      Connect with your <br>
      world like never before.
    </h1>
    <p>
      Lumina is a platform designed to enrich your life. Connect with others
      from around the world, engage with your local community, and give back to those who might need it the most.
    </p>

    <div class="form-landing">
      <input type="text" placeholder="Email address" id="email">

      <!-- Change button to direct to sign up page -->
      <button type="submit" class="btn btn-success">Sign up for Lumina</button>
    </div>
  </div>

  <!-- Image of girl on rocket -->
  <div id="container-banner-image">
    <%= image_tag 'Saly-1.png', class:"img-fluid" %>
  </div>
</div>
