<div class="container mt-5 ml-0 pl-5 container-landing-info">
  <div class="container mt-5">
    <div class="col-md-10">
    <h1>
      Do something your future self will thank you for.
    </h1>
    <p>
      Social media can be positive. Lumina allows you to say thanks to friends, family, charities or a random stranger. From the comfort of your home or by meeting up in person.
    </p>
    </div>
  </div>
  <div class="col-md-10 container-info-image">
    <%= image_tag 'Saly-10.png', class:"img-fluid" %>
  </div>
</div>
