<%= render 'components/landing_page/landing-navbar' %>
<div class="container-banner d-flex">


  <div id="container-banner-left">
    <h1>
      Connect with your <br>
      world like never before.
    </h1>
    <p>
      Lumina is a platform designed to enrich your life. Connect with others
      from around the world, engage with your local community, and give back to those who might need it the most.
    </p>

    <form class="form-inline">
      <%= link_to "Sign up for Lumina", new_user_registration_path, class:"btn btn-success btn-sign-up" %>
    </form>


  </div>
  <div class="container-banner-right">
    <!-- Image of girl on rocket -->
      <%= image_tag 'Saly-1.png', class: "img-fluid" %>
  </div>
</div>
