<div class="container mb-5 mt-2 d-flex justify-content-between">

  <%= link_to "About", '#', class:"btn btn-outline-info"%>
  <%= link_to "Sign in", new_user_session_path, class:"btn btn-outline-light" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
</div>
