.modal-body-wishlist {
  width: 800px;
  border-radius: 24px;
}

.modal-body-friends {
  width: 800px;
  display: flex;
  border-radius: 24px;
}

.modal-body-event {
  width: 700px;
  border-radius: 24px;
}

.btn-gift {
  border-radius: 24px;
}
