<div class="d-flex">
  <%= render 'components/side_bar/side_bar_final' %>
  <!-- Friends Container-->
  <div class="container dashboard-main d-flex justify-content-center flex-wrap pb-4 mb-5">
    <h3 class="w-100 mt-2 ml-3">Your Friends</h3>
    <!-- Friend Cards -->
    <%= render 'components/friends_page/friend_card' %>

    <!-- Stranger Cards -->
    <%= render 'components/friends_page/stranger_card' %>
  </div>
</div>
