<div class="container m-5">
  <h2 style="color:white"><%= current_user.first_name %>'s Messages</h2>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to "#{chatroom.name}", chatroom_path(chatroom) %>
  <% end %>
</div>

<!-- We want to show the individual message threads AND the messages all on one page -->
