.card-charity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 470px;
  height: 400px;
  padding: 0;
  margin: 40px 0;
  border-radius: 10px;
  border: 0.05rem solid #3a3b3c;
  transition: 0.2s ease-in-out;
}

.card-charity:hover {
  border: 0.05rem solid grey;
}

.btn-website {
  border: 0.05rem solid #3a3b3c;
  background-color:#192734;
  transition: 0.5s ease-in-out;
  &:hover {
    border: 0.05rem solid grey;
  }
}

.card-charity img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.card-charity h1 {
  text-align: left;
  font-weight: 760;
  padding: 10px 10px 0px 20px;
  color: $white;
}

.card-charity p {
  text-align: left;
  color: $light-gray;
  font-size: 18px;
}

@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.confettiButton {
  position: relative;
}

c {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 3px;
  height: 8px;
  background: red;
  opacity: 0;
}
