.conversation {
}


.active {
  .conversation {
    border: 0.05rem grey;
  }
}

.conversation small {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.convo-container-lg a {
  text-decoration: none;
}

.block-messages {
  color: white;
}

#last-active {
  color: lightgrey;
  font-weight: 500;
}

.active {
.conversation img {
  border: 3px solid white;
  }
}
