  <div class="d-flex">
    <div>
      <%= render 'components/side_bar/side_bar_final' %>
    </div>
    <div class="text-center">
      <h1 class="m-3"> <%= @event.name %> </h1>
    </div>
  </div>

