<!-- # LINKS FOR SIDE BAR -->
<div class="d-flex">
  <div>
    <%= render 'components/side_bar/side_bar_final' %>
  </div>

  <div class="m-5">
    <h3>Feed</h3>
    <p>See updates from friends, family and others you follow.</p>
      <div class="card-for-feed ">
        Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Animi libero explicabo, odio ipsum dolorem est nemo quis itaque sapiente nam laborum veritatis repellat.

      </div>
  </div>
  <div class="m-5">
    <br>
    <br>
  <p>Notifications</p>

  </div>

</div>
