<div class="div-home", style="background: linear-gradient(138deg, rgba(23,21,58,1) 0%, rgba(76,37,99,0.9150035014005602) 100%)">
  <%= render 'components/landing_page/container-banner' %>
  <%= render 'components/landing_page/container-landing-info' %>
  <%= render 'components/landing_page/container-landing-bottom' %>
</div>
