h3 {
  color:white;
  font-weight:bold;
}

p {
  color:white;
  font-weight: 400;
  margin:0;
}

// Entire right column for feed
.column-right {
  margin-top: 97px;
}

.card-sm-users {
  width: 320px;
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
}


.card-notification-sm {
  width: 770px;
  background-color:#192734;
  text-align: left;
  border-radius: 12px;
  border: 0.05rem solid #3a3b3c;
}

.card-notification-lg {
  height: 500px;
  width: 320px;
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
}

.card-notification-md {
  height: 240px;
  width: 770px;
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
}

.card-for-feed-charity {
  width: 770px;
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
  border-radius: 12px;
  color:white;
  position:relative;
}

.heart {

}

.status-box {
  // height: 100px;
  width: 70%;
  background-color:#120d19;
  border-radius: 20px;
}

.ribbon {
  color:#6060d0;
}

.progress {
  background-color: $purple;
}

