h3 {
  color:white;
  font-weight:bold;
}

p {
  color:white;
  font-weight: 200;
  margin:0;
}

// Entire right column for feed
.column-right {
  margin-top: 97px;
}

.card-sm-users {
  width: 320px;
  background-color:#2A1F3D;
}


.card-notification-sm {
  width: 770px;
  background-color:#2A1F3D;
  text-align: left;
  border-radius: 12px;
}

.card-notification-lg {
  width: 320px;
  background-color:#2A1F3D;
}

.card-notification-md {
  height: 240px;
  width: 770px;
  background-color:#2A1F3D;
}

.card-for-feed-charity {
  height: 240px;
  width: 770px;
  background-color:#2A1F3D;
  border-radius: 4px;
  color:white;
  position:relative;
}

.heart {

}

.ribbon {
  font-size: 50px;
  color:#6060d0;
}

.location {
  position:absolute;
  top: 0;
  margin: 50px;
}

.donate-btn {
  position:absolute;
  top: 0;
  margin: 50px;
}
