.feed-main {
  width: 100%;
}

h3 {
  color:white;
  font-weight:bold;
}

p {
  color:white;
  font-weight: 400;
  margin:0;
}

// Entire right column for feed
.column-right {
  margin-top: 97px;
}

.stranger-column h4 {
  color: white;
}

#stranger-text {
  color: lightgrey;
}

.card-sm-users {
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
   h6 {
    color: white;
   }
}

.card-sm-strangers {
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
  max-width: 300px;
  min-width: 300px;
}

.card-notification-sm {

  background-color:#192734;
  text-align: left;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 0.05rem solid #3a3b3c;
}

.card-notification-lg {
  height: 500px;
  width: 320px;
  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
}

.card-notification-md {

  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
  margin-bottom: 12px;
    h6 {
      color: lightgrey;
    }
    .md-text h5 {
      color: white;
    }
}

.card-notification-donate {

  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
  transition: 0.5s ease-in-out;
  span {
    color: #FFCF56;
  }
  &:hover {
    border: 0.05rem solid #FFCF56;
    transition: 2s ease-in-out;
  }
}

.donate-text {
  color: white;
}

.crop {
  width: 250px;
  min-width: 250px;
  height: 200px;
  overflow: hidden;
}

.crop-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.card-for-feed-charity {

  background-color:#192734;
  border: 0.05rem solid #3a3b3c;
  border-radius: 12px;
  color:white;
  position:relative;
}

.status-box {
  // height: 100px;
  width: 70%;
  background-color:#120d19;
  border-radius: 20px;
}

.ribbon {
  color:#6060d0;
}

#friend-circle-notification {
  font-size: 11px;
  margin-left: 14px;
  vertical-align: center;
  color:#6060d0;
  text-shadow: 0px 0px 17px rgba(0, 242, 255, 1);
}

#friend-circle-notification:active {
  text-shadow: 0px 0px 17px rgba(0, 242, 255, 0.6);
}

@media only screen and (max-width: 900px) {
  .feed-whole {
    display: flex;
    flex-wrap: wrap;
  }
}
