.side-bar {
  height: 100vh;
  width: 300px;
  background: #192734;
  border-right: 0.05rem solid #3a3b3c;
  position: sticky;
  top: 0;
}


.title {
  color:white;
}

.title-two {
  color: #C5B5B6
}

.sidebar-link {
  color: rgba(199, 196, 232, 0.3);
  font-weight: 700;
}

i {
  color: rgba(199, 196, 232, 0.3);
}

.active .sidebar-link {
    color: $white;
}

.active i {
  color: $white;
}

.sidebar .nav-links:hover {
  a, i {
    text-decoration: none;
    color: $white;
  }
}

@media only screen and (max-width: 900px) {
  .side-bar {
    width: 100vw;
    height: 200px;
    position: sticky;
  }
}
