.side-bar {
  height: 100vh;
  width: 300px;
  background: #192734;
  border-right: 0.05rem solid #3a3b3c;
  position: sticky;
  top: 0;
}


.title {
  color:white;
}

.title-two {
  color: #C5B5B6
}

.sidebar .active {
  background-color: #9247cd;
}

.sidebar .nav-links:hover {
  background-color: #666;
  color: white;
  a {
    text-decoration: none;
  }
}
