.side-bar {
  font-family: Helvetica;
  height: 100vh;
  width: 300px;
  background: linear-gradient(256.08deg, rgba(41, 39, 85, 0.4) 6.65%, rgba(41, 39, 84, 0.8) 68.75%, rgba(27, 24, 66, 0.35) 117.94%), linear-gradient(180deg, rgba(52, 20, 84, 0.65) 0%, #241130 100%);
  position: sticky;
  top: 0;
}


.title {
  color:white;
}

.title-two {
  color: #C5B5B6
}

h4 {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 20px;
  color: white;
  // text-decoration: none;
}

// .page-link {
//   text-decoration:none;
// }

a:link{
  text-decoration: none!important;
  color:white;
}

.link a {
  color:white;
}

.link a:hover {
  color: #53B9EB;
}

.square {
  color: #53B9EB;
}
