.side-bar {
  height: 100vh;
  width: 300px;
  background: #192734;
  border-right: 0.05rem solid #3a3b3c;
  position: sticky;
  top: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar {
  margin-left: 24px;
  height: 50vh;
}


.title {
  color:white;
}

.title-two {
  color: #C5B5B6
}

.sidebar-link {
  color: rgba(199, 196, 232, 0.3);
  font-weight: 700;
}

i {
  color: rgba(199, 196, 232, 0.3);
}

.active .sidebar-link {
    color: $white;
}

.active i {
  color: $white;
}

.sidebar .nav-links:hover {
  a, i {
    text-decoration: none;
    color: $white;
  }
}

@media only screen and (max-width: 900px) {

  .side-bar {
    width: 100vw;
    height: 75vh;
    position: sticky;
  }

  .sidebar-container {
    align-items: center;
    justify-content: space-evenly;
  }

  .sidebar {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    flex-wrap: wrap;
  }

  .nav-links i {
    font-size: 16px;
  }
}
